<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flats</title>
    <style>
        body
        {
            margin: 10px;
            padding: 10px;
            color: white;
            font-family: sans-serif;
            background-color: rgb(45, 45, 45);
        }
    </style>
</head>


<body>
    <h2> Enter Flat Details </h2>
    <form method="post" action="/details/add">
        <input type="text" name="Name" placeholder="enter flat name" required>
        <br><br>
        <input type="text" name="FID" placeholder="enter flat id" required>
        <br><br>
        <input type="text" name="Address" placeholder="enter address" required>
        <br><br>
        <input type="text" name="City" placeholder="enter city">
        <br><br>
        <input type="text" name="District" placeholder="enter district" required>
        <br><br>
        <input type="text" name="State" placeholder="enter state" required>
        <br><br>
        <select name="NoOfBedroom" >
            <option>Select Type</option>
            <option value=1>1 Bedroom</option>
            <option value=2>2 Bedroom</option>
            <option value=3>3 Bedroom</option>
        </select>
        <br><br>
        <select name="DrawingRoom">
            <option>Drawing Room</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br><br>
        <select name="DiningRoom">
            <option>Dining Room</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br><br>
        <select name="LaundryRoom">
            <option>Laundry Room</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br><br>
        <select name="Kitchen">
            <option>Select Kitchens</option>
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=2>3</option>
        </select>
        <br><br>
        <select name="AttachedBathroom">
            <option>Attached Bathroom</option>
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
        </select>
        <br><br>
        <select name="SharedBathroom">
            <option>Shared Bathroom</option>
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
        </select>
        <br><br>
        <select name="Balcony">
            <option>Select Balcony</option>
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
        </select>
        <br><br>
        <select name="Flooring">
            <option>Select Flooring</option>
            <option value="Tiled">Tiled</option>
            <option value="Marbled">Marbled</option>
            <option value="Cemented">Cemented</option>
        </select>
        <br><br>
        <input type="number" name="MaxIntakes" placeholder="max. no. of intakes" required>
        <br><br>
        <select name="Furnished">
            <option>Furnished</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br><br>
        <select name="YearOfContract">
            <option>Select Contract</option>
            <option value=5>5 Years</option>
            <option value=10>10 Years</option>
            <option value=25>25 Years</option>
            <option value=49>49 Years</option>
            <option value=99>99 Years</option>
        </select>
        <br><br>
        <input type="number" name="Price" placeholder="enter price (in lacks)" required>
		<br><br>
		<select name="Popularity">
            <option>Select Popularity</option>
            <option value=0>0</option>
        </select>
        <br><br>
        <input type="number" name="CarpetArea" placeholder="enter area (in sq. ft)" required>
        <br><br>
        <input type="number" name="AgeOfFlat" placeholder="enter flat age (in years)" required>
        <br><br><br>

        <input type="submit" value="Submit">
    </form>

    <br><br>

</body>

</html>
